.wr {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.gr {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}